* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-section {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    margin-top: 5rem;
}

.faq-heading-container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem 0 0 1.5rem;
    
}
.faq-heading {
    font-family: 'Work sans', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}
.faq-container {
    padding: 2rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    font-weight: 600;
    font-family: 'Work-sans', sans-serif;
    gap: 1rem;
}
.faq-question:hover {
    color:  hsl(293, 100%, 37%);
    cursor: pointer;
}
.plus-icon, .minus-icon {
    cursor: pointer;
}
.hidden {
    display: none;
}
.answer {
    padding-bottom: 1.3rem;
    font-weight: 400;
    font-family: 'Work sans', sans-serif;
    color: hsl(292, 16%, 49%);
    line-height: 1.4;
    font-size: 0.9rem;
    max-width: 95%;
}

hr {
    color: hsl(292, 30%, 79%);
}


@media (min-width: 372px) {
    body {
        
        background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
        background-color: hsl(275, 100%, 97%);
    
    }        

    .faq-section {
        border-radius: 15px;
        width: 320px;
    }
    
}

@media (min-width: 450px) {
    .faq-section {
        width: 400px;
    }
    
}

@media (min-width: 600px) {
    .faq-section {
        width: 500px;
    }
    
}